::before::after {
    box-sizing: border-box;
}

footer {
    height: 100px;
    width: 100%;
    background: no-repeat url('./winter.jpg');
    background-position: center 45%;
    opacity: 1;
    position: fixed;
    z-index: 1000;
}

.fotterText {
    width: 400px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin: 1.5% 8%;
}